<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <%- include("nav")%>
   <center>
    <form action="/blog/addblog" method="post"><br>
        <input type="text" name="title" placeholder="title" class="border"><br><br>
            <input type="text" name="image" placeholder="image" class="border"><br><br>
            <input type="text" name="artical" placeholder="artical" class="border"><br><br>
            <input type="text" name="category" placeholder="category" class="border"><br><br>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white border" style="padding: 10px;">add</button>
    </form>
   </center>
</body>
</html>