<header style="background-color: cadetblue;">
    <nav>
        <div class="container">
            <div style="display: flex; justify-content: space-between;">
                <ul style="display: flex; align-items: center; justify-content: space-between;">
                    <li style="padding: 10px;"><a href="/blog/allblog">article list</a></li>
                    <li style="padding: 15px;"><a href="/blog/myblog">user-specific articles</a></li>
                    <li style="padding: 10px;"><a href="/blog/addblog">article form</a></li>
                    <li style="padding: 10px;"><a href="/user/signup">signup</a></li>
                    <li style="padding: 10px;"><a href="/user/login">login</a></li>
                    <li style="padding: 10px;"><a href="/user/logout">logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>