<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userspecific</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .div{
            border: 1px solid tomato;
            width: 33.33%;
            padding: 30px;
        }
        .border{
            background-color: cadetblue;
        }
    </style>
</head>
<body>
    <body>
        <%- include("nav")%>
        <h1>userspecific</h1>
        <div class="container">
            <div id="ui" style="display: flex;"></div>
        </div>
    </body>
</body>

    <script>
        // console.log("a")
        const display = (data)=>{
                document.getElementById("ui").innerHTML=""
                data.map((ele)=>{
                    const title = document.createElement("h1")
                    title.innerHTML=ele.title
                    const artical = document.createElement("p")
                    artical.innerHTML=ele.artical
                    const category = document.createElement("h3")
                    category.innerHTML=ele.category
                    const img = document.createElement("img")
                    img.src=ele.image
                    let btn1=document.createElement("button")
                    btn1.innerHTML="delete"
                    btn1.setAttribute("class","border")

                    btn1.addEventListener("click",()=>{
                        fetch(`/blog/delete/${ele._id}`,{
                            method:"DELETE"
                        }).then((e)=>get())
                    })
                    const div2 = document.createElement("div")
                    div2.append(btn1)
                    const div = document.createElement("div")
                    div.setAttribute("class","div")
                    div.append(img,title,category,artical,div2)
                    document.getElementById("ui").append(div)
                })
            }

            const get= ()=>{
                fetch("/blog/myblogs")
                .then((data)=>data.json())
                .then((res)=>display(res))
            }
            get()
           
    </script>
</html>